<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{section}</title>
    style 
        include ../style.css
</head>
<body>
    <div id="container">
        <form action="./otp.pug" method="post">
            <h1>SignIn</h1>
            <input name="username" type="text" id="username" placeholder="Username" required>
            
            <input name="password" type="number" id="password" placeholder="PhoneNo." required>
            <button id="btn">Submit</button>
        </form>
    </div>
</body>
</html>