<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title> 
    style 
        include ../registeration.css
    </head>
<div class="container">
    <h1 id="heading2">Six Circle Information</h1>
    <form action="./emergencyBtn.pug" method="post">
    <div class="input-group"><input type="text" placeholder="Contact Name" name="Contact1"><input type="text" placeholder="Phone Number" name="phnNo1"></div>
    <div class="input-group"><input type="text" placeholder="Contact Name" name="Contact2"><input type="text" placeholder="Phone Number" name="phnNo2"></div>
    <div class="input-group"><input type="text" placeholder="Contact Name" name="Contact3"><input type="text" placeholder="Phone Number" name="phnNo3"></div>
    <div class="input-group"><input type="text" placeholder="Contact Name" name="Contact4"><input type="text" placeholder="Phone Number" name="phnNo4"></div>
    <div class="input-group"><input type="text" placeholder="Contact Name" name="Contact5"><input type="text" placeholder="Phone Number" name="phnNo5"></div>
    <div class="input-group"><input type="text" placeholder="Contact Name" name="Contact6"><input type="text" placeholder="Phone Number" name="phnNo6"></div><button class="submit-btn">Submit</button>
</form>
</div>